@font-face{
    font-family: myfont;
    src: url('../font/OpenSans-Bold.ttf');
}

div{
    user-select: none;
    font-family: myfont;
}

#wrcspeedo{
    background: white;
    width: 15%;
    height: 10%;
    position: absolute;
    bottom: 10%;
    right: 10%;
}


#fillbar {
    position: relative;
    display: block;
    width: 100%;
    height: 15%;
    background: linear-gradient(to right, #90ee90, yellow, yellow, red);
    z-index: 0;
}

.rpmtext#rpm{
    width: 19%;
}

.rpmtext#num{
    text-align:center;
    width: 9%;
}

#fillbar:after {
    position: absolute;
    right: 0;
    top: 0px;
    display: block;
    content: '';
    height: 100%;
    width: 85%;
    background: rgb(70, 69, 71);
    z-index: -1;
}
/* 1:%76   9:%4 一格9% 1000*/
.rpmtext{
    font-size: 50%;
    font-weight: bold;
    height: 100%;
    float: left;
}

#speedtext{
    line-height: 150%;
    text-align: center;
    font-size: 230%;
    font-weight: bold;
    color: black;
    width: 30%;
    height: 61%;
    background-color: white;
    float: left;
}
#speedunit{
    line-height: 270%;
    font-size: 150%;
    font-weight: bold;
    color: black;
    width: 30%;
    height: 61%;
    background-color: white;
    float: left;
}

#gear{
    line-height: 150%;
    text-align: center;
    font-size: 230%;
    font-weight: bold;
    color: white;
    width: 18%;
    height: 61%;
    background-color: gray;
    float: left;
}
#handbreak{
    line-height: 150%;
    text-align: center;
    font-size: 230%;
    font-weight: bold;
    color: gray;
    width: 18%;
    height: 61%;
    background-color: white;
    float: left;
}


.gearframe{
    width: 2%;
    height: 61%;
    background-color: orange;
    float:left;
}

#break{
    width: 50%;
    height: 25%;
    color: white;
    background: rgb(70, 69, 71);
    float:left;
    text-align: right;
    font-weight: bold;
}
#throttle{
    width: 50%;
    height: 25%;
    color: white;
    background: rgb(70, 69, 71);
    float:left;
    font-weight: bold;
}